.Rectangle-Patern {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    width: 517px;
    height: 90px;
    margin: 10px 0 0 0;
    padding: 0 0 0 26px;
    opacity: 0.8;
    border-radius: 6px;
    border: solid 1px #979797;
    background-color: #fff;
}

.Rectangle-Patern:hover {
    opacity: 1;
}

.Rectangle-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 420px;
    height: 90px;
    position: relative;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
}

.Rectangle-favorite {
    width: 68px;
    height: 90px;
    border-radius: 6px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}


img.iconmonstr-time-2 {
    width: 16px;
    height: 16px;
    margin: 2px 3px 6px 0;
    object-fit: contain;
}

.-hours-ago-by-autho {
    width: 127px;
    height: 13px;
    font-family: Roboto;
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0;
    letter-spacing: normal;
    color: #767676;
    text-align: center;
}

.Event-driven-state-m {
    width: 440px;
    height: 20px;
    margin: 6px 0 0;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: 0.25px;
    color: #6b6b6b;
}

img.iconmonstr-favorite {
    width: 24px;
    height: 22px;
    object-fit: contain;
    cursor: pointer;
}

@media screen and (max-width: 480px) and (orientation: portrait) {
    .Rectangle-Patern {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
        margin-left: 10px;
        width: 400px;
    }

    .Rectangle-1 {
        width: 320px;
        height: 90px;
    }

    .Event-driven-state-m {
        width: 320px;
        height: 20px;
    }
}

@media screen and (max-width: 800px) and (orientation:landscape) {

    .Rectangle-Patern {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
        margin-left: 10px;
        width: 360px;
    }

    .Rectangle-1 {
        width: 280px;
        height: 90px;
    }

    .Event-driven-state-m {
        width: 280px;
        height: 20px;
    }
}